*, html {
    box-sizing: border-box;
}

.div1{
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 100px;
    outline: 2px dashed black;
    border: 50px solid yellow;
    padding: 50px;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: green;
}