* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid red;
}

.box1 {
    background-color: palegoldenrod;
    border-radius: 5px;
}

.box2 {
    background-color: palegreen;
    border-radius: 25px;
}

.box3 {
    border-radius: 100% 25%;
    overflow: hidden;
}

.box3 > img {
    width: 100%;
    height: auto;
}