body{
    font-family: 'Lobster', cursive;
    background-color: rgb(119, 201, 187);
}

button{
    font-family: 'Lobster', cursive;
}

.para1, .para2{
    color: blueviolet;
    
}

 [disabled=disabled-button]{
    background-color: white;
 }