* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: pink;
    position: relative;
    animation-name: box-animation;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    /* animation-timing-function: linear, ease, ease-in, ease-out, ease-in-out, step-start, step-end, steps(int,start|end), cubic-bezier(n,n,n,n), initial, inherit. */
    animation-direction: alternate-reverse;
    /* animation-direction: normal, reverse, alternative, alternative-reverse. */
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes box-animation {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: black;
        left: 0px;
        top: 0px;
    }
}